{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать!</title>
    <link rel="stylesheet" href="{% static 'main/css/home.css' %}">
  </head>
  <body>
    <div class="wrapper">
      <div class="welcome-box">
        <h1>Добро пожаловать!</h1>
        <p>На этом сайте вы найдёте расписание занятий 806 кафедры МАИ в компьютерных классах</p>
      </div>

      <div class="auth-box">
        <h2>Авторизация</h2>
        <form action="{% url 'home_page' %}" method="POST">
          {% csrf_token %}
          
          <button class="btn primary" type="submit" name="mod" value="0">Я преподаватель</button>
          <button class="btn secondary" type="submit" name="mod" value="1">Я студент</button>
        </form>
      </div>
    </div>
  </body>
</html>