{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Расписание занятости компьютерных классов на IT-этаже || МАИ</title>
  </head>
  <body>
    {% if data.account_mod == 1 %}
      <div id="open-menu">
        <i class="fa-solid fa-circle-user"></i>
      </div>
      <div id="menu">
        <div id="header-menu">
          <h2 id="h2-menu">Аккаунт преподавателя</h2>
          <img src="{% static 'main/img/МАИ_лого.svg.png' %}" alt="МАИ">
        </div>
        <div id="mainblock-menu">
          <p>Фамилия: {{ data.account.surname }}</p>
          <p>Имя: {{ data.account.name }}</p>
          <p>Отчество: {{ data.account.lastname }}</p>
          <p>Кафедра: {{ data.account.department }}</p>
          <button type="submit">
            <a href="#change-password">Изменить пароль</a>
          </button>
          <form action="{% url 'main_page' %}" method="GET">
            <input type="hidden" name="quit" value="1">
            <button type="submit">Выйти</button>
          </form>
        </div>
      </div>
      <div id="change-password">
        <form action="{% url 'main_page' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="current_date_for_edit" value="{{ aditional_info.CurrentDateIndex }}">
          <input name="new_password" type="password" placeholder="Введите новый пароль"><br>
          <input name="again_new_password" type="password" placeholder="Повторите новый пароль"><br>
          {% if error == 1 %}
            <p class="error">Пароли не совпадают!</p>
          {% elif error == 2 %}
            <p class="error">Пароль не может быть пустым!</p>
          {% endif %}
          <button type="submit">Подтвердить</button>
        </form>
        <button class="close-btn">
          <a href="">Х</a>
        </button>
      </div>
    {% endif %}
    
    <a href="{% url 'home_page' %}" id="go-to-welcome-page">
      <div>
        <i class="fa-solid fa-arrow-left"></i>
      </div>
    </a>
    
    <main>
      {% with current_date=aditional_info.CurrentDateIndex %}
    
        <div id="Timetable-header">
          <h1>Расписание</h1>
          <div class="week-marker">
            
            {% if aditional_info.CurrentDateIndex != 0 %}
              {% with previous_date=current_date|decrement %}
                <form action="{% url 'main_page' %}" method="GET">
                  <input type="hidden" name="current_date_index_from_form" value="{{ previous_date }}">
                  <button>«</button>
                </form>
              {% endwith %}
            {% endif %}
            
            {% with Timetable_on_current_date=audience_list|get_date_from_current_date:aditional_info.CurrentDateIndex %}
              <p>  {{ Timetable_on_current_date }}  </p>
            {% endwith %}
            
            {% if aditional_info.CurrentDateIndex != 13 %}
              {% with next_date=current_date|increment %}
                <form action="{% url 'main_page' %}" method="GET">
                  <input type="hidden" name="current_date_index_from_form" value="{{ next_date }}">
                  <button>»</button>
                </form>
              {% endwith %}
            {% endif %}
            
          </div>
        </div>
        
        <div id="Timetable">
          {% for name in aditional_info.AudienceName %}
            <div class="box {% if data.account_mod == 1 %}allow-edit{% endif %}">
              <h2>{{ name|pretty_view }}</h2>
              <p class="audience-info">Количество мест: {{ aditional_info.SeatsQuantity|get_item_from_dict:name }}</p>
              
              {% with el=audience_list|get_element_from_list:current_date %}
                {% with IT=el|get_attr:name %}
                
                  {% for i in aditional_info.AllLessonTimings %}
                    {% with group=IT|get_attr:i.0 %}
                    
                      <form action="{% url 'main_page' %}" method="POST" class="edit-group-info">
                        {% csrf_token %}
                        <input type="hidden" name="current_date_for_edit" value="{{ current_date }}">
                        
                        <div class="Timetable-item {{ group|free_or_booked }}" tabindex="0">
                          {% if group %}
                            <p>{{ group }}</p>
                          {% else %}
                            <p>Свободно</p>
                          {% endif %}
                          <p>{{ i.1 }}</p>
                        </div>
                        {% if data.account_mod == 1 %}
                          <div class="edit-window-for-teacher" tabindex="0">
                            <p>{{invalid_group_name}}</p>
                            <h4>{{ name }}</h4>
                            <div id="input-data">
                              <input type="text" name="group_for_add" placeholder="Введите номер группы" required>
                              <button type="submit">✓</button>
                              <input type="hidden" name="IT_date_time" value="{{name}}|{{el|date_converter}}|{{i.1}}" >
                            </div>
                            <div id="date-time-div">
                              <h5>{{ audience_list|get_date_from_current_date:aditional_info.CurrentDateIndex }}</h5>
                              <h6>{{ i.1 }}</h6>
                            </div>
                          </div>
                        {% endif %}
                        
                        {% if data.account_mod == 1 %}
                          <div id="dark-background"></div>
                        {% endif %}
                        
                      </form>
                    
                    {% endwith %}
                  {% endfor %}
                  
                {% endwith %}
              {% endwith %}
              
            </div>
          {% endfor %}
        </div>
        
      {% endwith %}
    </main>
  </body>
</html>