body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(180deg, #d8f1ff, #b5e3ff);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

.auth-box {
  background: white;
  padding: 30px;
  width: 20vw;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
}

.auth-box h2 {
  color: #173a64;
  font-size: 22px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px 12px;
  border: 1.5px solid #cfe4f5;
  border-radius: 10px;
  font-size: 14px;
  transition: 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #6ebdff;
  box-shadow: 0 0 0 2px rgba(110, 189, 255, 0.3);
}

.btn {
  width: 80%;
  padding: 12px;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
}

.primary {
  background-color: #6ebdff;
  color: white;
}

.primary:hover {
  background-color: #4aa7f3;
}

.secondary {
  background-color: #f2f9ff;
  color: #173a64;
  border: 1.5px solid #d2eaff;
}

.secondary:hover {
  background-color: #e2f3ff;
}

form {
  text-align: center;
}

form input {
  display: block;
  margin: 0 auto;
  width: 90%;
}